{
    "homeserver": "https://mozilla-test.modular.im",
    "accessToken": "Your access token here. See https://t2bot.io/docs/access_tokens/ for details.",
    "handlers": [
        "expand-bug",
        "tree-status"
    ],
    "owner": "@somebody:matrix.example.com"
}
