{
    "homeserver": "https://mozilla-test.modular.im",
    "accessToken": "Your access token here. See https://t2bot.io/docs/access_tokens/ for details.",
    "owner": "@somebody:matrix.example.com",
    "logLevel": "warn",
    "githubToken": "hunter2"
}
